#product-item {
    display: none;
}

#product-item.show {
    display: block;
}

.custom-textarea {
    width: 100%; /* Adjust as needed */
    height: 1150px; /* Adjust as needed */
    resize: vertical; /* Allow resizing vertically only, or remove to prevent resizing */
}

#product-description{
  color: #0000;
  width: 18rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-style: normal;
  justify-content: space-evenly;
  font-smooth: !important;
}

#product-name {   
  visibility: initial;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button 
{
    -webkit-appearance: none;
        margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}